<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCP_SETTING_spoofTemperatureC</key>
	<false/>
	<key>SCP_SETTING_lockscrenSnapIcon</key>
	<true/>
	<key>SCP_SETTING_disableScreenshotNotification</key>
	<true/>
	<key>SCP_SETTING_spoofTemperatureF</key>
	<false/>
	<key>SCP_SETTING_shareChatText</key>
	<true/>
	<key>SCP_SETTING_spoofTemperatureFValue</key>
	<real>150</real>
	<key>SCP_SETTING_alwaysKeepSnaps</key>
	<true/>
	<key>SCP_SETTING_scFakeLatitude</key>
	<real>39</real>
	<key>SCP_SETTING_chatBlockButton</key>
	<true/>
	<key>SCP_SETTING_disableIsTyping</key>
	<true/>
	<key>SCP_SETTING_spoofSpeedMiles</key>
	<true/>
	<key>SCP_SETTING_dontSendStoryReadRequest</key>
	<true/>
	<key>SCP_SETTING_alwaysShowFeedSublabels</key>
	<true/>
	<key>SCP_SETTING_clearBadgesOnExit</key>
	<true/>
	<key>SCP_SETTING_spoofTemperatureCValue</key>
	<real>300</real>
	<key>SCP_SETTING_disableCameraShutterSound</key>
	<true/>
	<key>SCP_SETTING_imageEditing</key>
	<true/>
	<key>SCP_SETTING_saveTextMessages</key>
	<true/>
	<key>SCP_SETTING_spoofSpeedKilometers</key>
	<true/>
	<key>SCP_SETTING_spoofSpeedKilometersValue</key>
	<real>350</real>
	<key>SCP_SETTING_spoofSpeedMilesValue</key>
	<real>600</real>
	<key>SCP_SETTING_hideLiveStories</key>
	<false/>
	<key>SCP_SETTING_scFakeLongitude</key>
	<real>-116</real>
	<key>SCP_SETTING_hideDiscoverSection</key>
	<false/>
	<key>SCP_SETTING_scpp_adsMessageShown</key>
	<false/>
	<key>SCP_SETTING_enabledDefaultFaces</key>
	<true/>
	<key>SCP_SETTING_enabledCustomFaces</key>
	<true/>
	<key>SCP_SETTING_enabledLockedFaces</key>
	<true/>
	<key>SCP_SETTING_enabledCustomFilters</key>
	<true/>
	<key>SCP_SETTING_previewFilters</key>
	<false/>
	<key>SCP_SETTING_disableStoriesAutoAdvance</key>
	<false/>
	<key>SCP_SETTING_disableStoryRedesign</key>
	<false/>
	<key>SCP_SETTING_disableNewTabBar</key>
	<false/>
	<key>SCP_SETTING_mutedUsersEnabled</key>
	<true/>
	<key>SCP_SETTING_typingWhitelistedUsers</key>
	<array/>
	<key>SCP_SETTING_typingBlacklistedUsers</key>
	<array/>
</dict>
</plist>
