<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accentColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#36a1d6</string>
	</dict>
	<key>badgeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#cacaca</string>
	</dict>
	<key>canvasColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#f2f2f2</string>
	</dict>
	<key>contentColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#1e9675</string>
	</dict>
	<key>contentSectionColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#c2c2c2</string>
	</dict>
	<key>handleColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#c9c9c9</string>
	</dict>
	<key>navBarColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
	<key>navBarTextColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#1e9675</string>
	</dict>
	<key>strokeColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#37a6dd</string>
	</dict>
	<key>toolBarColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>hex</key>
		<string>#ffffff</string>
	</dict>
</dict>
</plist>
